@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}
/* shaun/ui用テーマ
テーマ作成は下記参照
https://gradient.page/tools/shadcn-ui-theme-generator
https://magicfront.dev/shadcn-ui-theme-generator?d=red&dh=dc2626&p=blue&ph=2563eb&r=0.7&s=orange&sh=f97316 */
@layer base {
	:root {
		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #091e3a, #2f80ed, #2d9ee0);
		--background: 228 98.65% 98.26%;
		--foreground: 228 7.3% 0.52%;

		--muted: 228 7.3% 91.3%;
		--muted-foreground: 228 3.65% 41.3%;

		--popover: 228 31.6% 91.3%;
		--popover-foreground: 228 7.3% 0.65%;

		--card: 228 31.6% 91.3%;
		--card-foreground: 228 7.3% 0.65%;

		--border: 228 12.3% 89.52%;
		--input: 228 12.3% 89.52%;

		--primary: 228 73% 13%;
		--primary-foreground: 228 1.46% 91.3%;

		--secondary: 228 3.65% 95.65%;
		--secondary-foreground: 228 5.38% 11.3%;

		--accent: 228 3.65% 95.65%;
		--accent-foreground: 228 5.38% 11.3%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 228 73% 13%;

		--radius: 0.5rem;
	}
	.dark {
		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #0052d4, #4364f7, #6fb1fc);

		--background: 230 65% 3.36%;
		--foreground: 230 10% 97.1%;

		--muted: 230 50% 12.6%;
		--muted-foreground: 230 10% 54.2%;

		--popover: 230 45% 5.46%;
		--popover-foreground: 230 10% 97.1%;

		--card: 230 45% 5.46%;
		--card-foreground: 230 10% 97.1%;

		--border: 230 50% 12.6%;
		--input: 230 50% 12.6%;

		--primary: 230 100% 42%;
		--primary-foreground: 230 10% 97.1%;

		--secondary: 230 50% 12.6%;
		--secondary-foreground: 230 10% 97.1%;

		--accent: 230 50% 12.6%;
		--accent-foreground: 230 10% 97.1%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 230 10% 97.1%;

		--ring: 230 100% 42%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
